body{
background-color: #142a42;
color:#0c9e29;
text-align: center;
}


h1{
  font-size: large;
}



.App-header {
  background-color: #142a42;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.balance{
  position:relative;
  font-size: calc(10px + 2vmin);
  height:50px;
}

.mnemonic{
  text-align: center;
  margin:10px;
}
.mnemonic p{
  text-align: justify;;
}




